.bottom-container {
     top: 308px;
     left: 26px;
     width: 10rem;
     height: 10rem;
     position: absolute;
}

.kamar-band {
     top: -29px;
     left: 21px;
     rotate: 0deg;
     width: 7.6rem;
     height: 2rem;
     border-radius: 50%;
     position: absolute;
     z-index: 2;
     border-bottom: 1px solid black;
     background: var(--skin-color);
}

.kamar-ball {
     top: 27px;
     left: 53px;
     rotate: 0deg;
     width: 2rem;
     z-index: 1;
     height: 1.5rem;
     border-radius: 40% 50% 40% 50%;
     position: absolute;
     background: var(--dress-color);
     border: 1px solid black;
}

.kamar-ball2 {
     top: 23px;
     left: 68px;
     rotate: -22deg;
     width: 2rem;
     height: 1.5rem;
     z-index: -1;
     border-radius: 40% 50% 40% 50%;
     position: absolute;
     background: var(--dress-color);
     border: 1px solid black;
}

.kamar-band-down {
     top: -21px;
     left: 17px;
     rotate: 0deg;
     width: 8rem;
     height: 2rem;
     z-index: -1;
     border-radius: 50%;
     position: absolute;
     border: 1px solid black;
     background: var(--dress-color);
     border-top: transparent;
}


.kamar-band-down::before {
     content: '';
     top: 18px;
     left: 16px;
     rotate: 1deg;
     width: 7rem;
     height: 2rem;
     z-index: -1;
     border-radius: 50%;
     position: absolute;
     background: var(--dress-color);
     border-top: transparent;
}

.lungi {
     top: 15px;
     left: -12px;
     rotate: -81deg;
     width: 4rem;
     height: .9rem;
     z-index: -2;
     border-radius: 100%;
     border-top: 1px solid black;
     position: absolute;
     background: var(--dress-color);
}

.lungi>div:nth-child(1) {
     top: 39px;
     left: -44px;
     rotate: 45deg;
     width: 6rem;
     height: 1.5rem;
     z-index: 2;
     border-radius: 100%;
     border-top: 1px solid black;
     position: absolute;
     background: var(--dress-color);
}

.lungi>div:nth-child(1)::after {
     content: "";
     top: 6px;
     left: -3px;
     rotate: 7deg;
     width: 8rem;
     height: 2.5rem;
     z-index: 2;
     border-radius: 100%;
     border-top: 1px solid black;
     position: absolute;
     background: var(--skin-color);
}

.lungi-left-wrapper {
     top: -7px;
     left: -32px;
     rotate: -12deg;
     width: 7rem;
     height: 6rem;
     z-index: 1;
     border-radius: 100%;
     border-top: 1px solid black;
     position: absolute;
     background: var(--dress-color);
}


.lungi>.lungi-mid {
     top: 53px;
     left: -26px;
     rotate: 2deg;
     width: 5rem;
     height: 1rem;
     z-index: 3;
     border-radius: 100%;
     border-bottom: 1px solid black;
     position: absolute;
     box-shadow: 3px 8px 0px 2px var(--dress-color);
}

.lungi>.lungi-mid::after {
     content: '';
     top: 36px;
     left: 4px;
     rotate: -17deg;
     width: 5rem;
     height: 2rem;
     z-index: 3;
     border-radius: 100%;
     border-top: 1px solid black;
     position: absolute;
     box-shadow: -3px -5px 0px 2px var(--dress-color);
}

.lungi-mid-bottom {
     top: 68px;
     left: -29px;
     rotate: -7deg;
     width: 7rem;
     height: 1.3rem;
     z-index: 2;
     border-radius: 30% 100% 100% 30%;
     background: var(--dress-color);
     position: absolute;
}

.lungi-mid-bottom::after {
     content: '';
     top: -13px;
     left: -2px;
     rotate: 2deg;
     width: 1rem;
     height: 2.88rem;
     z-index: 2;
     border-radius: 50%;
     background: var(--dress-color);
     border-left: 2px solid black;
     position: absolute;
}

.lungi-wrapper {
     width: 7rem;
     height: 3.8rem;
     top: 3px;
     left: -8px;
     border-radius: 50%;
     rotate: -69deg;
     z-index: -2;
     position: absolute;
     background: var(--dress-color);
     border-left: 1px solid;
}


.lungi-right {
     top: 73px;
     left: 20px;
     rotate: 76deg;
     width: 2rem;
     height: 6rem;
     z-index: 9;
     border-radius: 50%;
     background: var(--dress-color);
     position: absolute;
     border-right: 1px solid black;
}

.lungi-right-cover {
     top: 35px;
     left: -5px;
     rotate: 112deg;
     width: 2rem;
     height: 4rem;
     /* z-index: -3; */
     border-radius: 50%;
     position: absolute;
     border-right: 2px solid black;
     box-shadow: inset -6px -6px 0px 2px var(--dress-color);
}

.lungi-right-cover::before {
     content: '';
     top: 17px;
     left: 10px;
     rotate: 11deg;
     width: 1rem;
     height: 3rem;
     /* z-index: -3; */
     border-radius: 50%;
     position: absolute;
     border-right: 1px solid black;
     box-shadow: 5px -2px 0 0px var(--dress-color);
}


.lungi-right-filler {
     top: 18px;
     left: -7px;
     rotate: 31deg;
     width: 2rem;
     height: 3rem;
     z-index: 0;
     border-radius: 100%;
     position: absolute;
     background: var(--dress-color);
     box-shadow: -9px 3px 0 0 var(--dress-color), 4px 5px 0px 2px var(--dress-color);
}

.lungi-right-filler::before {
     content: '';
     width: 1.5rem;
     height: 4rem;
     top: 2px;
     left: 10px;
     z-index: -1;
     rotate: -63deg;
     border-radius: 50%;
     position: absolute;
     background: var(--dress-color);
}


.lungi-right-leg {
     top: 42px;
     left: -20px;
     rotate: -8deg;
     z-index: -1;
     width: 3rem;
     height: 4rem;
     border-radius: 50%;
     background: var(--skin-color);
     position: absolute;
}












/* * leg */


.left-leg {
     top: 21px;
     left: -5px;
     rotate: -96deg;
     width: 6rem;
     height: 4rem;
     z-index: -3;
     border-radius: 100%;
     background: var(--skin-color);
     position: absolute;
}

.left-leg-down {
     top: 9px;
     left: -49px;
     rotate: 0deg;
     width: 5rem;
     height: 3rem;
     z-index: -3;
     border-radius: 100%;
     background: var(--skin-color);
     position: absolute;
}

.left-foot {
     top: 9px;
     left: -68px;
     rotate: 0deg;
     width: 2rem;
     height: 2.8rem;
     z-index: 3;
     border-radius: 100%;
     background: var(--skin-color);
     position: absolute;
     border: 1px solid black;
}

.left-foot::before {
     content: '';
     top: 4px;
     left: 26px;
     rotate: y 54deg;
     width: 1.2rem;
     height: 2.5rem;
     z-index: -1;
     border-radius: 100%;
     position: absolute;
     border-left: 1px solid black;
     background: var(--skin-color);
}

.left-foot::after {
     content: '';
     top: 1px;
     left: 23px;
     rotate: 0deg;
     width: 1rem;
     height: 2.8rem;
     z-index: -3;
     border-radius: 100%;
     position: absolute;
     background: var(--dress-color);
     border: 1px solid black;
     border-right: transparent;
}



.left-foot>.finger {
     z-index: 2;
     height: .75rem;
     width: .5rem;
     border-radius: 50% 50% 0 0;
     background-color: var(--skin-color);
     position: absolute;
}

.left-foot>.finger:nth-child(1) {
     top: 37px;
     left: 2px;
     height: 15px;
     width: 10px;
     rotate: -133deg;
     border: 1px solid black;
     border-bottom-color: transparent;
}

.left-foot>.finger:nth-child(2) {
     top: 27px;
     left: -2px;
     height: 13px;
     width: 10px;
     rotate: 275deg;
     border: 1px solid black;
     border-bottom-color: transparent;
}

.left-foot>.finger:nth-child(3) {
     top: 17px;
     left: -2px;
     height: 15px;
     width: 10px;
     rotate: -80deg;
     border: 1px solid black;
     border-bottom-color: transparent;
}

.left-foot>.finger:nth-child(4) {
     top: 8px;
     left: -3px;
     height: 15px;
     width: 10px;
     rotate: -81deg;
     border: 1px solid black;
     border-bottom-color: transparent;
}

.left-foot>.finger:nth-child(5) {
     top: -1px;
     left: -1px;
     height: 15px;
     width: 10px;
     rotate: -77deg;
     border: 1px solid black;
     border-bottom-color: transparent;
}

.gada {
     top: 69px;
     left: 100px;
     rotate: 18deg;
     width: 7rem;
     height: 6rem;
     z-index: 2;
     background: var(--gada-color);
     border-radius: 50%;
     position: absolute;
     border: 1px solid black;
}

.gada-rod {
     top: -97px;
     left: 24px;
     rotate: 0deg;
     width: 1rem;
     z-index: 9;
     height: 6rem;
     border-radius: 0 0 15px 15px;
     background: var(--gada-color);
     position: absolute;
     border: 1px solid black;
}

.gada-upper {
     content: '';
     top: 0px;
     left: 26px;
     rotate: 1deg;
     width: 4rem;
     height: 1.2rem;
     background: var(--gada-color);
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}

.gada-upper::before {
     content: '';
     top: -6px;
     left: 8px;
     rotate: 1deg;
     width: 3rem;
     height: 1rem;
     z-index: 1;
     background: var(--gada-color);
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}

.gada .inner-1 {
     top: 50%;
     left: 50%;
     rotate: y 50deg;
     width: 2rem;
     height: 6rem;
     translate: -50% -50%;
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}

.gada .inner-2 {
     top: 50%;
     left: 50%;
     rotate: y 50deg;
     width: 8rem;
     height: 6rem;
     translate: -50% -50%;
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}

.gada .inner-3 {
     top: 50%;
     left: 50%;
     rotate: y 50deg;
     width: 20rem;
     height: 6rem;
     translate: -50% -50%;
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}


.gada-bottom {
     top: 93%;
     left: 113px;
     rotate: 23deg;
     width: 3.2rem;
     height: 1rem;
     z-index: 1;
     background: var(--gada-color);
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}

.gada-ball {
     top: 158px;
     left: 132px;
     rotate: 16deg;
     width: 0.5rem;
     height: .75rem;
     z-index: -1;
     background: var(--gada-color);
     border-radius: 50%;
     border: 1px solid black;
     position: absolute;
}

/* *Tail */

.tail {
     top: -40px;
     left: -20px;
     rotate: 0deg;
     width: 8px;
     height: 4rem;
     background: var(--skin-color);
     border-radius: 13%;
     border-left: 1px solid black;
     border-right: 1px solid black;
     position: absolute;
}

.tail-upper {
     top: -26px;
     left: -31px;
     rotate: -102deg;
     width: 2rem;
     height: 3rem;
     z-index: -5;
     border-radius: 50% 0 50% 50%;
     position: absolute;
     background: var(--hair-color);
}

.tail-bottom {
     top: -10px;
     left: -15px;
     rotate: -63deg;
     width: 53px;
     height: 3rem;
     z-index: -5;
     border-radius: 50%;
     border-left: 1px solid black;
     position: absolute;
     box-shadow: -9px -1px 0px 0px var(--skin-color);
}

.tail-bottom::before {
     content: '';
     top: -3px;
     left: -9px;
     rotate: -8deg;
     width: 53px;
     height: 4rem;
     z-index: -5;
     border-radius: 50%;
     border-left: 1px solid black;
     position: absolute;
     background: transparent;
}